#root {
  height: 100%;
  --doc-height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  height: var(--doc-height);
}

main {
  height: 100%;
}

.App {
  height: 100%;
}

h1 {
  margin: 0;
}
